[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/vim-terraform"]
	path = .vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".config/polybar/polybar-scripts"]
	path = .config/polybar/polybar-scripts
	url = https://github.com/x70b1/polybar-scripts.git
